// filename: _variables.scss
// author: Liz Bank
// date: 2/12/18

//typography
$headings: "Merriweather", Georgia, serif;
$sans: "Open Sans", Arial, sans-serif;
$serif: "Merriweather", Georgia, serif;



//colors

$gray: #eeeeee;
$lightblue: #C4CBD8;
$gold: #D9AC4F;
$darkblue: #273773;


